@font-face {
    font-family: 'BlowBrush';
    src: url('../fonts/BlowBrush.eot');
    src: url('../fonts/BlowBrush.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlowBrush.woff') format('woff'),
        url('../fonts/BlowBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Peace Sans';
    src: url('../fonts/PeaceSans.eot');
    src: url('../fonts/PeaceSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PeaceSans.woff') format('woff'),
        url('../fonts/PeaceSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.caption-name, .caption-sub {
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #fff !important;
}
