/* Change Footer Border */
footer { border: none !important; }


/* -----------------------------------------------------------------------------------
	
	FONT FAMILY
	
----------------------------------------------------------------------------------- */
body,
input[type=text], input[type=password], input[type=email], input[type=number],input[type=tel], textarea,
input[type=submit], input[type=button], .button, button,
blockquote cite,
.pagination li a, #page-pagination .pagination li.page span, #page-pagination .pagination li.page a,
.sr-button {
	font-family: 'Josefin Sans';
	}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
blockquote,
nav#main-nav ul > li > a,
.portfolio-category,
.post-date,
.post-cat,
.pagination li a[data-title]::before,
.tp-caption.noha-caption {
	font-family: 'Josefin Sans';
	}
	

/* -----------------------------------------------------------------------------------
	
	FONT STYLING
	
----------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
.tp-caption.noha-caption {
	font-weight: 700;
	text-transform: uppercase; 
	letter-spacing: 0.08em;
	}
	h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
	.tp-caption.noha-caption strong, .tp-caption.noha-caption b{ font-weight: 700; }
	.title-alt b, .title-alt strong { font-weight: 700; }

nav#main-nav ul > li > a {
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	text-transform: uppercase; 
	letter-spacing: 0.08em;
	}

nav#main-nav ul.sub-menu > li > a {
	font-weight: 700; 
	font-size: 13px;
	line-height: 22px;
	height: 22px;
	text-transform: uppercase; 
	letter-spacing: 0.08em;
	}